*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono';
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav{
    scroll-behavior: smooth;
    background-color: #000;
    width: 50%;
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    padding: 0px 30px;
    box-sizing: border-box;
}

.aNav{
    color: #FFF;
    padding: 20px;
    text-decoration: none;
}

.aNav:hover{
    background-color: #FFF;
    color: #000;
    border-radius: 10px;
}

.iconNav{
    color: #fff;
    font-size: 30px !important;
    text-decoration: none;
    padding: 10px;
}

.iconNav:hover{
    background-color: #FFF;
    color: #000;
    border-radius: 10px;
}

.container{
    width: 50%;
    height: 99vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 200px;
    background-color: #252A8F;
    display: flex;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}

.imgProfile{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-right: 70px;
}

.profileName{
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0px 0px 0px;
}

.profileFunc{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 0px 10px 0px;
}

.iconXp{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.icon{
    color: #fff;
    font-size: 20px !important;
    padding-right: 10px;
}

.infoProfile{
    color: #fff;
    font-size: 14px;
}

.content{
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    background-color: #B2DAFF;
}

.titleContent{
    width: 20%;
    height: 50px;
    font-weight: bold;
    background-color: #252A8F;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divSobremim{
    margin: 10px;
    padding: 14px;
    font-size: 14px;
    border-left: 1px solid black;
}

.subTitleSobremim{
    padding-bottom: 10px;
}

ul{
    font-size: 12px;
    padding: 10px 0px 0px 20px;
}

@media (max-width: 1024px){
    .nav{
        width: 100%;
    }
    .container{
        width: 100%;
    }
}